* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body .links {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;

}

body .links:hover {
    color: #000000;
}

.grupo {
    width: 80%;
    margin: 0 auto;
}

.grupo h3 {
    margin: 20x;
}

.bottons {
    width: 35%;
}

.box-search {
    display: flex;
    justify-content: center;
    gap: 0.1%;
}

body {
    background-color: #000000;
    background-image: url("fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main .container a:hover {
    background-color: rgba(23, 51, 207, 0.6);
    font-weight: bold;
}

#paginainicial {
    display: grid;
    justify-content: center;
    height: 100vh;
    gap: 20px;
    padding: 30px;
}

#paginainicial h1 {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
}

#paginainicial p {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

/* Tela de Grupos */


.container .botao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

/* Tabela de Preços */

table {
    transition: all .2s ease-in;
    cursor: pointer;
}